@using MITLibraryTextBookManagementSystem.Models;
@model IEnumerable<MITLibraryTextBookManagementSystem.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">List Of Users</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">List of User</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div id="modalWrapper">
    @* Inject form here *@
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbllstUsers" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Name</th>
                                    <th>Role</th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (User user in Model)
                                {
                                    <tr>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Role.Role_Name</td>
                                        <td>
                                            <a onclick="GetDetails(@user.User_Id)">

                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    $(function () {

        $("#tbllstUsers").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
           /* "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]*/
        }).buttons().container().appendTo('#tbllstUsers_wrapper .col-md-6:eq(0)');
    });
    $(function () {
        $('#modal-User').modal();
    });

    function GetDetails(id) {
        $.ajax({
            url: "/User/UserDetail/" + id,
            typr: "GET",
            success: function (response) {
                $('#modalWrapper').html(response);
                $('#modal-User').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
    //function editUser(userId) {
    //    console.log(userId);
    //    var url = "/User/GetUser"; // the url to the controller

    //    $.get(url + '/' + userId, function (data) {
    //        $('#modalWrapper').html(data);
    //        $('#editModal').modal('show');
    //    });
    //    //$.ajax({
    //    //    url: '/User/GetUser/' + userId, // The method name + paramater
    //    //    type:'GET',
    //    //    success: function (data) {
    //    //        $('#modalWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
    //    //    }
    //    //});
    //}
</script>
