
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home/Index" class="brand-link">
       
        <span class="brand-text font-weight-light">MIT LTMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @*<img src="~/Content/Images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
            </div>
            <div class="info">
                <a href="#" class="d-block"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
       

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->


        @if (@HttpContext.Current.Session["role_id"].ToString() == "1")
        {
            <li class="nav-item has-treeview">
                <a href="/Home/Index" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        User List
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/User/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>User List</p>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="/Order/Index" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Activity List
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Order/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Activity</p>
                        </a>
                    </li>

                </ul>
            </li>
        }

        @if (@HttpContext.Current.Session["role_id"].ToString() == "1" || @HttpContext.Current.Session["role_id"].ToString() == "3")
        {
            <li class="nav-item has-treeview">
                <a href="/Home/Index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Analysis data
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/FileUpload/FileUploadIndex" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>File Upload And Analysis</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Report/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Generate Report</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (@HttpContext.Current.Session["role_id"].ToString() == "1" || @HttpContext.Current.Session["role_id"].ToString() == "2" || @HttpContext.Current.Session["role_id"].ToString() == "3")
        {

            <li class="nav-item has-treeview">
                <a href="/Home/Index" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Text Book
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/StudentEnrollment/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>TextBook List</p>
                        </a>
                    </li>

                </ul>
            </li>


        }
        @if (@HttpContext.Current.Session["role_id"].ToString() == "1" || @HttpContext.Current.Session["role_id"].ToString() == "3")
        {
            <li class="nav-item has-treeview">
                <a href="/Home/Index" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        AddBookRequest
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/AddBookRequest/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Exiting Book Request</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/AddBookRequest/NewBookList" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>NewBookList</p>
                        </a>
                    </li>

                </ul>
            </li>
        }
        <li class="nav-item has-treeview">
            <a href="/Home/Index" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Log Out
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/User/Logout" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Log Out</p>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
            </nav>              
            <!-- /.sidebar-menu -->
        </div>
    <!-- /.sidebar -->
</aside>