@using MITLibraryTextBookManagementSystem.Models;
@model IEnumerable<MITLibraryTextBookManagementSystem.Models.TextBook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Text Book Details</h3>
                        <a onclick="AddBook()">

                            <i class="fa fa-book">Add Book</i>
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblPurchaseOrder" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>UnitCode</th>
                                    <th>Coordinator</th>
                                    <th>Author</th>
                                    <th>Year</th>
                                    <th>Title</th>
                                    <th>Publisher</th>
                                    <th>Identifier</th>
                                    <th>Requirement</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TextBook customer in Model)
                                {
                                    <tr>
                                        <td>@customer.UnitCode.UnitCodeName</td>
                                        <td>@customer.Coordinator_Name</td>
                                        <td>@customer.Author</td>
                                        <td>@customer.TextBook_Year</td>
                                        <td>@customer.Title</td>
                                        <td>@customer.Publisher</td>
                                        <td>@customer.Identifier</td>
                                        <td>@customer.Requirement</td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {

        $("#tblPurchaseOrder").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#tblPurchaseOrder_wrapper .col-md-6:eq(0)');
    });
    </script>